@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply relative z-10 flex w-fit min-w-[160px] cursor-pointer items-center justify-center gap-2 rounded-lg bg-accent px-5 py-4 font-medium text-white transition-all md:px-8;
  }
  .button:hover {
    @apply bg-accent-variant;
  }
  .button-ghost {
    @apply relative z-10 flex w-fit min-w-[160px] cursor-pointer items-center justify-center gap-2 rounded-lg bg-transparent px-8 py-4 font-medium text-white ring-1 ring-white ring-opacity-20 transition-all;
  }
  .button-ghost:hover {
    @apply bg-accent-variant ring-accent-variant;
  }
  .card-glass {
    @apply border border-white border-opacity-20 bg-white bg-opacity-5;
  }
}

:root {
  color-scheme: dark;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

li {
  list-style-type: none;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

span {
  /* display: block; */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

input,
textarea {
  background: 0 0;
  border-radius: 0;
  padding: 0;
  font-family: inherit;
  color: inherit;
}

option {
  font-weight: normal;
  display: block;
  min-height: 1.2em;
  padding: 0px 2px 1px;
  white-space: nowrap;
  border-radius: 0;
}

select:focus,
input:focus {
  outline: 0;
}

textarea:focus,
textarea:focus-visible {
  outline: 0;
}

button {
  outline: none;
  border: none;
  font: inherit;
}

.wrapper {
  width: min(100% - 64px, 1440px);
  margin-inline: auto;
}

.link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
  color: #00b4d8;
}

.input {
  color: black;
  background: white;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
}

input.input-error {
  border: 1px solid #ef4444;
}
